<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html :: link_header(~{::title}, ~{::style})">
    <title>태스트</title>
    <style>
        @media (max-width: 767px) {
            #cond {
                width: 100% !important;
            }
        }

        .add-btn {
            font-weight: bold;
            min-width: 34px;
        }
    </style>
</head>

<body>
    <div th:replace="/fragments/nav.html :: top-nav"></div>
    <div class="container">
        <div>
            <div id="cond" style="width: 50%;">
                <div class="input-group mb-3 cond">
                    <span class="input-group-text">박스 이름</span>
                    <input type="text" class="form-control" id="boxName" th:value="${boxName}"
                        placeholder="input BoxName">
                    <button class="btn btn-primary" type="button" onclick="api.changeBoxName();">이름 변경</button>
                </div>
            </div>
        </div>
        <div class="contents pt-3" style="border-top: 1px solid #edf0f2;">
            <div class="d-flex" id="addRow">
                <input type="text" class="form-control btn-outline-success keyword" style="width: 30%;"
                    placeholder="키워드">
                <input type="text" class="form-control btn-outline-success concept" placeholder="콘셉트를 입력하세요">
                <input type="button" onclick="api.save();" class="btn btn-success add-btn" value="+">
                <input type="hidden" id="boxId" th:value="${boxId}">
            </div>

            <div class="mt-3" id="wrap-contents">
            </div>
        </div>

    </div>

</body>
<script src="/js/common.js"></script>
<script src="/js/card.js"></script>

</html>