<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html :: link_header(~{::title},~{::style})">
    <title>암기박스</title>
    <style>
        @media (max-width: 767px) {
            #condition {
                display: block !important;
                width: 90% !important
            }

            #condition .cond {
                padding-top: 15px;
            }

            .btn-group {
                width: 90% !important;
            }

            #contents {
                margin-top: 30px;
            }
        }

        .border-t {
            border-top-width: 1px;
        }
    </style>
</head>

<body>
    <div th:replace="/fragments/nav.html :: top-nav"></div>
    <div class="container text-center">
        <div class="d-inline-flex m-2" id="condition">
            <div class="cond">
                <input type="button" class="btn btn-outline-primary" onclick="api.search();" value="팀박스 전체 보기">
                <input type="button" class="btn btn-outline-primary" onclick="api.searchMyBox();" value="나의 박스만 보기">
            </div>
            <div class="ps-3">
                <div class="input-group mb-3 cond">
                    <input type="text" class="form-control" id="boxName" placeholder="input BoxName">
                    <button class="btn btn-primary" type="button" onclick="api.createBox();">암기박스 만들기</button>
                </div>
            </div>
        </div>
        <div id="contents">
            <div class="mt-2">
                <div class="btn-group" style="width: 38.5rem">
                    <a href="#" role="button" class="btn btn-outline-success" style="width: 90%;">test</a>
                    <input type="button" class="btn btn-outline-success" value="선택">
                </div>
            </div>
            <div class="mt-2">
                <div class="btn-group" style="width: 38.5rem">
                    <a href="#" role="button" class="btn btn-outline-success" style="width: 90%;">test2</a>
                    <input type="button" class="btn btn-outline-success" value="선택">
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/js/common.js"></script>
<script src="/js/cardBox.js"></script>

</html>