<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: link_header(~{::title}, ~{::style})">
    <title>그룹원 모집글 작성</title>
    <style>
        .grey-bottom-line {
            border-bottom: 1px solid #c7c7c7;
        }
    </style>
</head>

<body>

    <div th:replace="fragments/nav.html :: top-nav"></div>
    <div class="container">
        <div class="p-2 grey-bottom-line">
            <input type="button" class="btn btn-primary" onclick="api.save()" value="등록">
        </div>
        <div class="p-2">
            <input type="text" id="title" style="width:100%" placeholder=" 모집글 제목을 입력하세요">
        </div>
        <div class="p-2">
            <textarea id="content" style="width:100%; height: 30rem;" placeholder=" 그룹설명을 입력해주세요"></textarea>
        </div>
    </div>
</body>
<script src="/js/common.js"></script>
<script src="/js/post.js"></script>

</html>