<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: link_header(~{::title}, ~{::style})">
    <title>테스트</title>
    <style>
        #keyword {
            width: 100%;
        }

        #ok,
        #ng {
            width: 49%;
        }

        @media (max-height: 765px) {
            #concept {
                height: 25rem;
            }
        }
    </style>
</head>

<body>
    <div th:replace="fragments/nav.html :: top-nav"></div>
    <div class="container">
        <p id="message"></p>
        <input type="button" id="keyword" class="btn btn-outline-success" onclick="showConcept();" value="키워드">
        <div id="result" style="display:none;" class="mt-3">
            <textarea class="form-control" rows="20" id="concept" name="text"
                style="border-color: #198754; cursor: auto;" readonly></textarea>
            <div class="mt-2 d-flex justify-content-between">
                <input type="button" id="ok" class="btn btn-primary" onclick="test('OK');" value="○">
                <input type="button" id="ng" class="btn btn-danger" onclick="test('NG');" value="×">
            </div>
        </div>
        <input type="hidden" id="id">
        <input type="hidden" id="cardId">
        <input type="hidden" id="boxId" th:value="${boxId}">
        <input type="hidden" id="level" th:value="${level}">
    </div>
</body>
<script src="/js/common.js"></script>
<script src="/js/test.js"></script>

</html>