<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html :: link_header(~{::title},~{::style})">
    <title>테스트</title>
    <style>
        .container a {
            padding: 2rem 6rem !important;
            min-width: 15rem;
            margin: 0.5rem 0;
        }
    </style>
</head>

<body>
    <div th:replace="/fragments/nav.html :: top-nav"></div>

    <div class="container text-center">
        <div class="align-middle">
            <div>
                <a href="/test/1" role="button" class="btn btn-outline-success">레벨1</a>
                <a href="/test/2" role="button" class="btn btn-outline-success">레벨2</a>
            </div>
            <div>
                <a href="/test/3" role="button" class="btn btn-outline-success">레벨3</a>
                <a href="/test/4" role="button" class="btn btn-outline-success">레벨4</a>
            </div>
            <div>
                <a href="/test/5" role="button" class="btn btn-outline-success">레벨5</a>
                <a href="/test/result" role="button" class="btn btn-outline-warning">결과</a>
            </div>
        </div>
    </div>
</body>
<script src="/js/common.js"></script>

</html>