<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html :: link_header(~{::title},~{::style})">
  <title>테스트 결과</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    #condition{
    padding : 0 3%;
    }
  </style>
</head>

<body>
<div th:replace="/fragments/nav.html :: top-nav"></div>
  <div>
    <div id="condition">
      <input type="date" id="from" th:value="${from}">
      ~
      <input type="date" id="to" th:value="${to}">
      <input type="button" onclick="api.testResults(false);" value="검색">
      <input type="button" onclick="api.testResults(true);" value="실패한 결과만 검색">
    </div>
  </div>
  <div id="container"></div>
</body>
<script src="/js/common.js"></script>
<script src="/js/testResult.js"></script>

</html>